* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --ice-color: #99d3df;
    --fresh-water-color: #88bbd6 ;
    --plaster-color: #cdcdcd;
    --linen-color: #e9e9e9 ;
    --sky-blue-color: #328cc1;
}
/* .container > * {
    border: 2px solid red;
} */
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.sidebar {
    grid-row: 1/3;
    padding: 20px; 
    height: 100vh;
    background-color: var(--sky-blue-color);
}
.logo-text {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    color: var(--linen-color);
    margin-bottom: 30px;
}
.logo-text h1 {
    display: grid;
    align-items: center;
}
.icon-32 {
    align-items: center;
    font-size: 48px;
}
.sidebar ul,
.sidebar li {
    font-size: 18px;
    list-style-type: none;
}
.sidebar a {
    color: white;
    text-decoration: none;
}
.menu {
    margin-top: 50px;
    margin-bottom: 50px;
}
.preferences {
    margin-top: 60px;
}
.menu ul,
.preferences ul {
    display: grid;
    gap: 15px;
}
.icon-24 {
    align-items: center;
    font-size: 24px;
}
.menu a,
.preferences a {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    align-items: center;
}
.header {
    display: grid;
    grid-template-rows: auto auto;
    box-shadow: 0 2px 10px -2px gray;
}
.search-container.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 15px 48px;
    align-items: center;
    gap: 6rem;
}
.search {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}
#searchbar {
    border: none;
    border-radius: 42px;
    background-color: var(--linen-color);
}
.account-info {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 24px;
    align-items: center;
}
.account-info p {
    font-weight: 700;
}
.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.header-bottom {
    display: grid;
    grid-template-columns: auto auto;
    margin: 15px 48px;
    gap: 10rem;
}
.profile {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
}
.profile-pic {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
.profile-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}
.profile-name {
    font-size: 24px;
    font-weight: 700;
}
.action-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}
.primary-btn {
    color: var(--linen-color);
    background-color: var(--sky-blue-color);
    padding: 10px;
    border-radius: 20px;
    border: none;
}